th, td {
  border: 1px solid;
  padding: 8px;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}


.itemContainer{
  overflow-y: scroll;
  height: 610px;
  padding: 10px;
}

.header{
  display: flex;
  margin-left: 10px;
}

.header-search{
  width: 200px;
  height: 25px;
  margin-top: 39px;
  margin-left: 980px;
}

@media only screen and (max-width: 1108px) {
  th, td {
    padding: 6px;
  }

  .header-search {
    width: 150px;
    margin-left: 434px;
  }
}

@media only screen and (max-width: 1330px) {
  th, td {
    padding: 6px;
  }

  .header-search {
    width: 200px;
    margin-left: 575px;
  }
}
